@import './icons.css';
@import './apps/email/cmps/email-preview.css';
@import './apps/keep/keep.css';
@import './apps/email/cmps/email-compose.css';
@import './apps/email/cmps/email-preview.css';
@import './apps/email/pages/email-app.css';
@import './apps/email/pages/email-details.css';
@import './pages/homepage.css';

/* Fonts */

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-light;
    src: url(../fonts/Lato-Light.ttf);
}

/* General settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: lato;
}

/* LAYOUT */
.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.email-container {
    flex: 1;
}

.keep-app {
    flex: 1;
    margin-bottom: 20px;
}

.main-homepage {
    flex: 1;
}

/* APP HEADER */
.app-header {
    height: 5vh;
    background-color: #f0ebab;
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
    align-items: center;
}

.app-header .logo p {
    /* TODO add font */
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    color: #5a5a5a;
}

.app-header .links a {
    text-decoration: none;
    color: #5a5a5a;
    font-weight: 600;
    padding-inline: 10px;
    transition: 0.2s;
}

.app-header .links a:hover {
    color: #a1d4b1;
}

/* BURGER MENU */
.burger-links {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.burger-links .burger-icon {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burger-links .burger-list.open {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    border-inline-start: 1px solid #ccc;
    background-color: rgba(252, 247, 238, 0.9);
    width: 400px;
    transform: translateX(0);
    transition: transform 0.6s;
}
.burger-links .burger-list.close {
    transform: translateX(100%);
    transition: transform 0.6s;
}

.burger-links .burger-list ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.burger-links .burger-list ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    list-style-type: none;
    border-bottom: 1px solid rgb(170, 164, 164);
    transition: 0.2s;
}

.burger-links .burger-list ul li:hover {
    background-color: rgb(253, 253, 216);
}

.burger-links .burger-list ul li a {
    height: 100px;
    line-height: 100px;
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    color: #34325e;
    font-weight: 600;
}

.bgc-menu-mobile.close {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: opacity 0.6s;
    z-index: 1;
}

/* APP FOOTER */
.app-footer {
    height: 10vh;
    background-color: #f0ebab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.app-footer .copyrights {
    color: #777777;
    font-size: 14px;
}

.app-footer .made-by {
    font-weight: 600;
    color: #5a5a5a;
}

/* USER MSG */
.user-msg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 300px;
    top: 10px;
    right: 10px;
    padding: 20px;
    border: 2px solid #34325e;
    border-radius: 10px;
    background-color: #fff;
}

.success {
    color: #5db95d;
    border-color: #5db95d;
}

.error {
    color: #f16e6e;
    border-color: #f16e6e;
}
