@import './apps/email/cmps/email-preview.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

.app-header {
    height: 5vh;
    background-color: rgb(210, 238, 144);
}

.main-container {
    height: 90vh;
    background-color: rgb(146, 144, 238);
}

.app-footer {
    height: 5vh;
    background-color: lightgreen;
}
