.email-preview {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 10px;
    background-color: lightgray;
}

.email-preview-from, .email-preview-subject {
    font-weight: bold;
}

.email-preview-body {
    font-weight: lighter;
    color:rgb(121, 109, 109);
}

.email-preview-body::before {
    content: ' - ';
}

.email-preview-sent-at {
    font-weight: bold;
}