.email-preview-container {
    max-width: 1000px;
}
.email-preview * {
    font-family: lato-light;
    font-weight: 100;
}

.unread-email-preview-text{
    font-family: lato;
    font-weight: bold;
}

.basic-preview {
    max-width: 1000px;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
    gap: 6px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.basic-preview .actions > * {
    margin-left: 6px;
}

.basic-preview:hover {
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.preview-selected {
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.basic-preview-body {
    font-weight: lighter;
    color:rgb(121, 109, 109);
}

.basic-preview-body::before {
    content: ' - ';
}

.expanded-preview {
    max-width: 1000px;
    max-width: 80vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid lightgray;
}
.expanded-preview > p {
    width: 80%;
}
.expanded-preview h1{
    font-size: 2rem;
    font-weight: bold;
}
.expanded-preview .expand-icon {
    align-self: flex-end;
    margin-right: 50px;
}