.email-preview * {
    font-family: lato;
}

.unread-email-preview-text{
    font-weight: bold;
}

.basic-preview {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 10px;
    background-color: lightgray;
    margin-bottom: 10px;
    transition: .2s;
}

.basic-preview:hover {
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.basic-preview-from, .basic-preview-subject {
    /* font-weight: bold; */
}

.basic-preview-body {
    font-weight: lighter;
    color:rgb(121, 109, 109);
}

.basic-preview-body::before {
    content: ' - ';
}

.basic-preview-sent-at {
    /* font-weight: bold; */
}

.expanded-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.expanded-preview h1{
    font-size: 2rem;
    font-weight: bold;
}
