.note-list {
    margin: 20px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 20px;
}

.note-card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.note-card .image img,
.note-card .vid video {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    overflow: hidden;
}

.note-card-info {
    font-family: lato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 2px 2px #d4d4d3;
    border-radius: 6px;
    padding: 15px;
    gap: 20px;
    transition: 0.3s;
    text-align: center;
}

.note-card-info:hover {
    box-shadow: 0 0 3px 3px #c7c7c7;
}

.note-card-info audio {
    width: -webkit-fill-available;
}

.buttons-actions {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.buttons-actions button {
    border: none;
    background-color: transparent;
    font-size: 100%;
    cursor: pointer;
    color: #252525;
    transition: 0.2s;
}

.buttons-actions button:hover {
    color: #f0f0f0;
}

.note-card-info ul {
    text-align: left;
    list-style-type: none;
    font-weight: 600;
}

.note-card-info.note-mail p {
    font-weight: 600;
    padding: 10px;
}

.note-card-info.note-mail span {
    font-weight: 500;
}

.todo-component {
    min-width: 300px;
}

.w-1 {
    grid-column: span 1;
}
.w-2 {
    grid-column: span 2;
}
.w-3 {
    grid-column: span 3;
}
.w-4 {
    grid-column: span 4;
}
.w-5 {
    grid-column: span 5;
}
.w-6 {
    grid-column: span 6;
}

.h-1 {
    grid-row: span 1;
}
.h-2 {
    grid-row: span 2;
}
.h-3 {
    grid-row: span 3;
}
.h-4 {
    grid-row: span 4;
}
.h-5 {
    grid-row: span 5;
}
.h-6 {
    grid-row: span 6;
}

@media screen and (max-width: 700px) {
    .note-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .w-1,
    .w-2,
    .w-3,
    .w-4,
    .w-5,
    .w-6 {
        grid-column: span 1;
    }
}
