.email-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90vw;
    max-width: 1000px;
    font-family: lato-light;
    font-weight: 100;
    border-bottom: 1px solid lightgray;
}

.email-details > * {
    margin: 20px;
}
.email-details h1{
    font-family: lato;
    font-size: 2rem;
    font-weight: bold;
}
.email-details .actions {
    display: flex;
    gap: 20px;
    align-self: flex-end;

}
.email-details p span {
    margin-left: 30px;
}