.email-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90vw;
    max-width: 1000px;
    font-family: lato-light;
    font-weight: 100;
    border-bottom: 1px solid lightgray;
}

.email-details > * {
    margin: 20px;
}
.email-details h1{
    font-family: lato;
    font-size: 2rem;
    font-weight: bold;
}
.email-details .actions {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;

}
.email-details p span {
    margin-left: 30px;
}

/* Vue transitions */

/* .email-details-enter, .email-details-leave-to {
    opacity: 0;
}

.email-details-enter-to, .email-details-leave {
    opacity: 1;
}

.email-details-enter-active {
    transition: all 3s ease;
} */
  
/* .email-details-enter-active, .email-details-leave-active {
    transition: all 3s ease;
} */
  