@import './cmps/note-list.css';
@import './cmps/note-filter.css';
@import './cmps/add-note.css';
@import './cmps/update-note.css';

/* TODO LIST */
.done {
    text-decoration: line-through;
}

/* PINNED SECTION */
.pinned-list {
    width: 60%;
    height: 20%;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-columns: repeat(6, auto); */
    grid-auto-rows: auto;
    grid-gap: 10px;
    text-align: center;
    grid-auto-flow: dense;
}

.pinned-list img {
    width: 10%;
}
